<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.geekiot.sparklebike">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ApplicationName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".page.MainActivity"
            android:label="@string/ApplicationName"
            android:theme="@style/AppTheme.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".page.DiscoverDeviceActivity"
            android:theme="@style/AppTheme.DiscoverDeviceActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.cobox.cosmart.devicebridge.DeviceBridgeService"
            android:enabled="true"
            android:exported="true"
            android:logo="@mipmap/ic_launcher"
            android:label="@string/DeviceBridgeServiceName">
            <intent-filter>
                <action android:name="com.cobox.cosmart.devicebridge.StartService" />
            </intent-filter>
        </service>
    </application>

</manifest>