<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.geekiot.sparklebike">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".ColorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ApplicationName"
        android:theme="@style/AppTheme">
        <activity
            android:name=".page.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".page.SettingWindow"
            android:label="@string/title_activity_setting_window"
            android:theme="@style/AppTheme.SettingWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".page.MainActivity"
            android:label="@string/ApplicationName"
            android:theme="@style/AppTheme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".page.DiscoverDeviceActivity"
            android:theme="@style/AppTheme.DeviceDetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".page.DeviceDetailsActivity"
            android:label="@string/title_activity_device_details"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.cobox.cosmart.devicebridge.DeviceBridgeService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/DeviceBridgeServiceName"
            android:logo="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="com.cobox.cosmart.devicebridge.StartService"/>
            </intent-filter>
        </service>
    </application>

</manifest>